*.o
*.a
*.so
logs/
# Folders
_obj
_test
logs
# Architecture specific extensions/prefixes
*.out
static/upload/*
*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.key
*.pem
*.cert
*.exe
*.test
*.prof
